<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-basic-title">Create new Workspace</h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <form [formGroup]="workspaceModal">
        <h5>...from scratch</h5>
        <label for="workspaceName">Name</label>
        <div class="input-group">
          <input
            formControlName="name"
            id="workspaceName"
            class="form-control"
            type="text"
          />

          <div class="container-fluid">
            <small id="workspaceNameHelperText" class="form-text text-muted">
              Workspace name must be 2-30 characters long.
            </small>
          </div>
        </div>
        <div class="d-grid d-md-flex justify-content-md-end">
          <button
            type="submit"
            [disabled]="workspaceModal.invalid"
            class="btn btn btn-outline-primary"
            (click)="modal.close(workspaceModal.value)"
          >
            Create
          </button>
        </div>
      </form>
      <div class="divider">OR</div>
      <h5>...import from file</h5>
      <form [formGroup]="workspaceFileImportModal">
        <input
          class="form-control bottom-margin"
          type="file"
          formControlName="importedFile"
          id="importFile"
          (change)="onFileChange($event)"
        />
        <div class="d-grid d-md-flex justify-content-md-end">
          <button
            type="submit"
            [disabled]="workspaceFileImportModal.invalid || !validFile"
            class="btn btn-outline-primary"
            (click)="modal.close(workspaceFileImportModal.value)"
          >
            Import
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <ng-container *ngIf="validFile; then processableFile; else wrongFile">
    </ng-container>
  </div>
</ng-template>
<div class="container">
  <button
    class="btn btn-secondary"
    style="font-weight: bold"
    name="Add workspace"
    (click)="open(content)"
    [disabled]="!(workspacesLength$ | async)"
  >
    <span class="btn-label" style="font-weight: bold"
      ><i class="bi bi-folder-plus"></i
    ></span>
    Add workspace
  </button>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Sequences</th>
          <th scope="col">Created</th>
          <th scope="col">Updated</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="
            workspacesLength$ | async as workspacesLength;
            else noWorkspaces
          "
        >
          <tr
            *ngFor="let workspace of workspaces$ | async; index as i"
            [routerLink]="['/amyloid', workspace.id]"
          >
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ workspace.name }}</td>
            <td>{{ workspace.sequencesCount }}</td>
            <td>{{ workspace.created }}</td>
            <td>{{ workspace.updated }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noWorkspaces>
  <div class="text-left">Loading workspaces. This may take a while...</div>
</ng-template>
<ng-template #wrongFile>
  <div class="alert alert-warning" role="alert">
    <i class="bi bi-exclamation-triangle"></i> File is not valid. Please make
    sure it's compliant with FASTA format.
  </div>
</ng-template>
<ng-template #processableFile>
  <div class="alert alert-success" role="alert">
    <i class="bi bi-file-earmark-check"></i> File content is valid and Workspace
    can be created with {{ addedSequencesCount }} sequences.
  </div>
</ng-template>
