.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(0px, auto) minmax(0px, auto);
  max-width: 100%;
  padding: 0px;
  row-gap: 1px;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.dashboard {
  grid-column: 1 / -1;
  grid-row: 2 / -1;
  background: #6e85b7;
}

.mini-style {
  color: #ff3370;
  font-style: bold;
}

.spaced-left {
  margin-left: 15px;
}

.parent {
  display: grid;
  place-content: center;
  height: 100%;
}
