/* You can add global styles to this file, and also import other style files */
$primary: #6e85b7;
$secondary: #fee36e;
$text-primary: #6e85b7;
$text-secondary: #fee36e;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "ngx-toastr/toastr";

html {
  background-color: $primary;
  font-family: "Roboto Mono", monospace;
  font-size: 100%;
}
body {
  font-size: 1em;
  font-family: inherit;
}
.table-responsive {
  max-height: 1000px;
  margin-bottom: 100px;
}

.table {
  background-color: white;
  border: 1px;
  border-style: solid;
  border-color: #2a2a2a;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #7c7c7cc5;
}

.table thead {
  color: #2a2a2a;
  background-color: #fee36e;
}

.table td {
  vertical-align: middle;
}

.table th {
  vertical-align: middle;
}

table > tbody > tr {
  cursor: pointer;
}
