/* You can add global styles to this file, and also import other style files */
$primary: #373e98;
$secondary: #fee36e;
$text-primary: #373e98;
$text-secondary: #fee36e;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html { background-color: $primary; }


